* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-tg-fa.fa-tg.t1x -text
/apertium-tg-fa.fa.dix.xml -text
/apertium-tg-fa.post-tg.dix.xml -text
/apertium-tg-fa.symbols.xml -text
/apertium-tg-fa.tg-fa.dix.xml -text
/apertium-tg-fa.tg-fa.t1x -text
/apertium-tg-fa.tg.dix.xml -text
/autogen.sh -text
/configure.ac -text
/fa-tg.prob -text svneol=unset#unset
/modes.xml -text
/tg-fa.prob -text svneol=unset#unset
