* text=auto !eol
/ACKNOWLEDGEMENTS -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/TODO -text
/apertium-tgk-pes.pes-tgk.t1x -text
/apertium-tgk-pes.post-tgk.dix -text
/apertium-tgk-pes.tgk-pes.alpha.dix -text
/apertium-tgk-pes.tgk-pes.dix -text
/apertium-tgk-pes.tgk-pes.t1x -text
/autogen.sh -text
/configure.ac -text
dev/README -text
dev/count.tg-fa.dix -text
dev/dix-to-wiki.py -text
dev/fa.vtemplate.c.txt -text
dev/fa.vtemplate.v.txt -text
dev/myverbparadigms.txt -text
dev/tg.hitparade.txt -text
dev/tg.vtemplate.c.txt -text
dev/tg.vtemplate.v.txt -text
dev/verbs.csv -text
dev/verbs.fa.dix -text
dev/verbs.ods -text
dev/verbs.py -text
/modes.xml -text
old/apertium-tg-fa.fa.dix.xml -text
old/apertium-tg-fa.tg-fa.dix.xml -text
old/apertium-tg-fa.tg.dix.xml -text
/pending-tests.sh -text
/pes-tgk.prob -text svneol=unset#unset
/regression-tests.sh -text
texts/udhr.eng.txt -text
texts/udhr.pes.txt -text svneol=unset#application/octet-stream
texts/udhr.tgk.txt -text svneol=unset#application/octet-stream
/tgk-pes.prob -text svneol=unset#unset
tsts-nov19/apertium-tg-fa.fa.metadix -text
tsts-nov19/apertium-tg-fa.tg.dix.xml -text
tsts-nov19/apertium-tg-fa.tg.metadix -text
tsts-nov19/buscaPar.xsl -text
tsts-nov19/principal--[!!-~](copie).xsl -text
tsts-nov19/principal.xsl -text
tsts-nov19/tobeAdded -text
tsts-nov19/xsl.sh -text
/wiki-tests.sh -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
